In [1]:
import pandas as pd
import numpy as np

In [5]:
#Creat a categorical Serie

serie = pd.Series(['T-shirt','jacket','Blose','T-shirt'], dtype = 'category')
serie

0    T-shirt
1     jacket
2      Blose
3    T-shirt
dtype: category
Categories (3, object): ['Blose', 'T-shirt', 'jacket']

In [6]:
#creat a dataframe type category

df = pd.DataFrame({'material' : ['silk','wool','polyester','cotton'],
                  'garmet':['T-shirt','jacket','scarf','sacks'],
                  'size' : ['small','medium','small','large']}, dtype = 'category')

In [8]:
df

    material   garmet    size
0       silk  T-shirt   small
1       wool   jacket  medium
2  polyester    scarf   small
3     cotton    sacks   large

In [13]:
df.dtypes

material    category
garmet      category
size        category
dtype: object

In [14]:
#import ordered categorical data type

from pandas.api.types import CategoricalDtype

In [25]:
#defining Categories
size = CategoricalDtype( categories = ['small','medium','large','X-large','XX-large','XXX-large'], ordered =True)

In [33]:
#applying categoricat Dtype to a DF

df['size']=df['size'].astype(size)

In [34]:
#using Cat Data to retrive specific data

df[df['size'] > 'small']

  material  garmet    size
1     wool  jacket  medium
3   cotton   sacks   large