In [1]:
import pandas as pd
import numpy as np

In [5]:
#creating a sample series

sample_serie = pd.Series(range(10))
sample_serie

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
#Masking some parts using where()

sample_serie.where(sample_serie>5)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [7]:
#Masking some parts using mask()
sample_serie.mask(sample_serie>5)

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [8]:
#Masking some parts using where() and changing the mask outputs

sample_serie.mask(sample_serie>5, "Masked Items")

0               0
1               1
2               2
3               3
4               4
5               5
6    Masked Items
7    Masked Items
8    Masked Items
9    Masked Items
dtype: object

In [9]:
#Comparing the masked serie with original serie

sample_serie.mask(sample_serie>5, "Masked Items") == sample_serie

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [23]:
#creating Dataframe using a dictionary

cars = pd.DataFrame({'color':['red', 'red', 'black', 'red', 'black','green'],
                     'vehicle':['car','bus','truck','bus','bike','mini bus']})

cars

   color   vehicle
0    red       car
1    red       bus
2  black     truck
3    red       bus
4  black      bike
5  green  mini bus

In [24]:
#finding exact duplicates on both columns
cars.duplicated(['color','vehicle'])

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [25]:
#drop duplicates on one column

cars.drop_duplicates('color', keep = 'last')

   color   vehicle
3    red       bus
4  black      bike
5  green  mini bus

In [26]:
cars.drop_duplicates('color', keep = False)

   color   vehicle
5  green  mini bus

In [28]:
#drop duplicates when both columns match exactly

cars.drop_duplicates(['color', 'vehicle'], keep = False)

   color   vehicle
0    red       car
2  black     truck
4  black      bike
5  green  mini bus

In [30]:
#calling confusion matrix
pd.crosstab(cars['color'],cars['vehicle'],margins = False)

vehicle  bike  bus  car  mini bus  truck
color
black       1    0    0         0      1
green       0    0    0         1      0
red         0    2    1         0      0

In [31]:
#calling confusion matrix
pd.crosstab(cars['color'],cars['vehicle'],margins = True)

vehicle  bike  bus  car  mini bus  truck  All
color
black       1    0    0         0      1    2
green       0    0    0         1      0    1
red         0    2    1         0      0    3
All         1    2    1         1      1    6