In [1]:
import pandas as pd
import numpy as np

In [4]:
#creat a sample DF

candy_bars = pd.DataFrame({'type': ['bar','roll','candy','pack'],
                          'brand': ['kitkat','mars','snikers','oreo'],
                          'color': ['black','brown','red','blue']})

In [5]:
candy_bars

    type    brand  color
0    bar   kitkat  black
1   roll     mars  brown
2  candy  snikers    red
3   pack     oreo   blue

In [9]:
#seperating a new DF using reindex function

candy_bars_reindexed = candy_bars.reindex(index = [0,1,3], columns = ['type','color'])

In [8]:
candy_bars_reindexed

   type  color
0   bar  black
1  roll  brown
3  pack   blue

In [11]:
# reindexing new funtion with rows and columns which don't exist in DF

candy_bars_reindexed = candy_bars.reindex(index = [-1,1,2,3,4,5,6], columns = ['type','color','user'])

In [12]:
candy_bars_reindexed

     type  color user
-1    NaN    NaN  NaN
 1   roll  brown  NaN
 2  candy    red  NaN
 3   pack   blue  NaN
 4    NaN    NaN  NaN
 5    NaN    NaN  NaN
 6    NaN    NaN  NaN

In [13]:
sample_df = pd.DataFrame({'color': ['col1','col2','col3'],
                         'user': ['user1','user2','user3']})

In [14]:
sample_df

  color   user
0  col1  user1
1  col2  user2
2  col3  user3

In [21]:
#creating a df using reindex_like

df3 = candy_bars_reindexed.reindex_like(sample_df)

In [22]:
df3

   color user
0    NaN  NaN
1  brown  NaN
2    red  NaN